@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: 'Poppins', 'Alata', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul{
    margin: 0px;
    padding: 0px;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

img{
  display: block;
  max-width: 100%;
}

.container{
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;


  @media screen and (min-width: 480px) {
      max-width: 480px;
     
  }

    @media screen and (min-width: 768px) {
      max-width: 768px;
      padding-left: 40px;
      padding-right: 40px;
      
  }

    @media screen and (min-width: 1200px) {
      max-width: 1200px;
      padding-left: 80px;
      padding-right: 80px;

  }
}

.events {
  background-image: url(./images/Background.png);
}
